# Sample role data used in the Vagrant OS test environment
# under vagrant/environments/ostest/
# Useful for testingi a set of profiles on different OS
# Here is a sample ostest.yaml file content.
# Alternatively we use symlinks to test an existing role on
# different Operting Systems.
#
#
---
# Use ::psick::ostest for testing Puppet code
# Add profiles to the list below to test whole profiles

psick::profiles::linux_classes:
  ostest: '::psick::ostest'
  
# tp_profiles testing
psick::ostest::tp_profiles_hash:
  influxdb:
    ensure: absent
  elasticsearch:
    ensure: absent
  grafana:
    ensure: present
  mongodb:
    ensure: present
    upstream_repo: true
            
# Uncomment below to skip application of 
# base classes, as defined via psick::base::$os_classes
# and apply only what's defined by psick::profiles::$os_classes
psick::base::manage: true

